{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

<style>
.nav-wrapper, .sidenav, button{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#login{
  background-color: white;
  border-style: solid;
  border-color: #dbdbdb;
  border-width: thin;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

#header{
  background-image: url('/static/photos/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
</style>

<!--flash messages-->
{% if messages %}
{% for message in messages %}
<div class="container">
    <div class="alert">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
<div class="container-fluid">
    <div class="row white" id="centered">
        <h6>Get started now to help keep your neighbourhood safe and stay up to date on neighbourhood events</h6>
        <div class="row"></div>
        <button class="col s12 waves-effect waves-light btn white">
            <a href="{% url 'neighbourhoods' %}" class="white-text" style="color: white;">join a neighbourhood</a>
        </button>
    </div>
</div>
<!--footer-->
<div class="section center" style="color: black; position: fixed; bottom: 0%; width: 100%;">
    <b>
        <p>2022 Hoods</p>
    </b>
</div>

{% endblock content %}