{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--flash messages-->
{% if messages %}
{% for message in messages %}
<div class="container">
    <div class="alert">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
<div class="container-fluid">
    <div class="row white" id="centered">
        <h6>Get started now to help keep your neighbourhood safe and stay up to date on neighbourhood events</h6>
        <div class="row"></div>
        <button class="col s12 waves-effect waves-light btn white">
            <a href="{% url 'neighbourhoods' %}" class="white-text">join a neighbourhood</a>
        </button>
    </div>
</div>
<!--footer-->
<div class="section center" style="color: black; position: fixed; bottom: 0%; width: 100%;">
    <b>
        <p>2022 Hoods</p>
    </b>
</div>

{% endblock content %}