<style>
  .navbar,
  button {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  body {
    background-image: url('/static/photos/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  #centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %} " style="color: white;">Hoods</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'new_neighbourhood' %}" style="color: white;">create neighbourhood <span
            class="sr-only">(current)</span></a>
      </li>
      {% if user.profile.neighbourhood %}
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="{% url 'neighbourhood_details' request.user.profile.neighbourhood.pk %}">View hood</a>
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color: white;">
          Profile
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
          <li><a class="nav-link active"  href="{% url 'edit-profile' user.username %}">Edit Profile</a></li>
          <li><hr class="dropdown-divider"></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link active" style="color: white;" href="{% url 'signout' %}">signout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link active" style="color: white;" href="{% url 'login' %}">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" style="color: white;" href="{% url 'register' %}">register</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}" method='get'>
      <input class="form-control mr-sm-2" type="search" placeholder="Find a business..." id="search" type="text"
        class="validate" name="business">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>