{% extends 'base.html' %}
{%load static%}
{% block content %}


<!--display messages-->
{% if messages %}
{% for message in messages %}
<div class="container center-align">
  <div>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}
<div class="container-fluid">
  <div class="row center-align">
    <p>Can't find your neighbourhood?</p>
    <button class="btn">
      <a href="{% url 'new_neighbourhood' %}" class="white-text" style="color: white;">Create a neighbourhood</a>
    </button>
  </div>
  <div class="row center-align">

    {% for neighbourhood in neighbourhoods %}

    <div class="col s12 m4 l3" style="padding: 0px;">
      <div class="card" style="width: 18rem;">
        <div class="card-image">
          {% if neighbourhood.logo %}
          <img src="{{neighbourhood.logo.url}}" alt="" class="card-img-top">
          {% else %}
          <img src="/static/photos/neighbourhood.jpg" alt="" class="card-img-top">
          {% endif %}
        </div>
        <div class="card-body">
          <h5 class="card-title">Hood</h5>
          <p class="card-text">{{neighbourhood.name}}</p>
          <h5 class="card-title">Location</h5>
          <p class="card-text">{{neighbourhood.location}}</p>
          <a href="{% url 'join_neighbourhood' neighbourhood.pk %}" class="btn btn-primary">Join Neighbourhood</a>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>

</div>


{% endblock %}